
<%#= link_to 'Team Profile', teams_path(@team_name) %>

  <% @teams.each do |team| %>
    <%= render partial:  "team_list", locals: { team: team}  %>

<h3 class="team_name">The Team</h3>
  <table class="table">
  <thead>

    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Major</th>
    </tr>
  </thead>
  <tbody>
    <% team.users.each do |user| %>
      <%= render partial: 'user_details', locals: {user: user} %>
    <% end %>
    </table>
  </div>
<% end %>
