

<h1><%= @user.name %></h1>
<h1><%= @user.team_name %></h1>
<h1><%= @user.major %></h1>


<h1>My Mentor</h1>




<%#= @team.team_name %>


<%#@users.each do |user| %>
<!-- <h3 class="team_name">The Team</h3>
  <table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Major</th>
    </tr>
  </thead> -->
  <!-- <tbody>
    <tr>
      <td><#%= user.name %></td>
      <td><#%= user.last_name %></td>
      <td><#%= user.team_id %></td>
    </tr>
  </table> -->


<%#$i += 1 %>
<%# end %>


