<div class="page-header">
  <h1>The CoCreation Lab </h1>
</div>


<ul class="grid cs-style-3">
    <li>
        <figure>
            <img src="images/orlando.png" alt="img01">
            <figcaption>
                <h3 class="team_text">Orlando Frasci</h3>
                <span>CAPO</span>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/diana.png" alt="img01">
            <figcaption>
                <h3>Diana Sanchez</h3>
                <span>Marketing</span>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/enrico.png" alt="img01">
            <figcaption>
                <h3>Enrico Bruschini</h3>
                <span>Parnterships and Mentors</span>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/mj.png" alt="img01">
            <figcaption>
                <h3>Mike Jarrell, CFA</h3>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/daniela.png" alt="img01">
            <figcaption>
                <h3>Daniela Zatloukalova<h3>
               <!--  <span>Marketing, PR</span> -->
            </figcaption>
        </figure>
    </li>
        <li>
        <figure>
            <img src="images/jose.png" >
            <figcaption>
                <h3>Jose Rivera</h3>
                <span>Strategy</span>
            </figcaption>
        </figure>
    </li>
      <li>
        <figure>
            <img src="images/dario.png" alt="img01">
            <figcaption>
                <h3>Dario Parziale<h3>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/matteo.png" alt="img01">
            <figcaption>
                <h3>Matteo Pastore<h3>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/rachel.png" alt="img01">
            <figcaption>
                <h3>Rachel Stanley<h3>
            </figcaption>
        </figure>
    </li>
    <!-- ... -->
</ul>

<div class="page-header">
  <h1>Strategy, Business Development</h1>
</div>

<div class="page-header">
  <h1>Marketing </h1>
</div>

<div class="page-header">
  <h1>Mentors</h1>
</div>

<div class="page-header">
  <h1>Operations </h1>
</div>
